.login{
    height : vmax;
    /* background-color:#F07D72 ; */
    font-family: 'Prompt', sans-serif;
    color: white;
    background: rgb(240,125,112);
    background: linear-gradient(90deg, rgba(240,125,112,1) 0%, rgba(255,233,184,1) 100%);
}

.bg-pan-right{-webkit-animation:bg-pan-right 8s both;animation:bg-pan-right 8s both}

@-webkit-keyframes bg-pan-right{0%{background-position:0 50%}100%{background-position:100% 50%}}@keyframes bg-pan-right{0%{background-position:0 50%}100%{background-position:100% 50%}}

.text-white{
    color: white;
}


#logo{
    font-family: 'Grand Hotel', cursive;
    font-size: 5rem;
}

a:hover#logo2{
    text-decoration: none;
}

#nav-logo{
    color:#F07D72 ;
    font-family: 'Grand Hotel', cursive;
    font-size: 2rem;  
}



#logo:hover{
    text-decoration: unset;
    
}

.hidden{
    display: none;
}

.center{
    padding: auto;
    width :100%;
    border: 3px solid green;
}

.form{
    padding: 24vh 5vw 0px 5vw;
}

.form-style1{
    width : 100%;
    height: 2.3rem;
    border: none;
    border-bottom: 0.2rem solid white;
    background-color: transparent;
    margin-top : 2vh; 
}

::placeholder{
    color:white;
}
::-ms-input-placeholder{
    color: white;
}

.formbutton{
    width: 100%;
    margin-top:3vh;
    color:#F07D72;
}

.formbutton:hover{       
    color: rgb(189, 84, 75);
   
}

.bg-white{
    background-color: white;
}

button + a{
    display: block;
    margin-top:2vh;
}

.mgtop{
    margin-top: 2vh;
}


