  <div class="slick">
    <div class="slick-block" >
        <div class=" text-center" id="cookingicon">
            <a href="/recipelist/ทอด" id="recipelink">
            <img class="center"src="/img/cooking/turkey-leg.png" >
            <br>
            <h4>ทอด</h4> 
            </a>          
        </div>
    </div>
    <div class="slick-block" >
        <div class=" text-center" id="cookingicon">
            <a href="/recipelist/ผัด" id="recipelink">
            <img class="center"src="/img/cooking/whisk-and-bowl.png" >
            <br>
            <h4>ผัด</h4>                  
            </a>          
        </div>
    </div>
    <div class="slick-block" >
        <div class=" text-center" id="cookingicon">
            <a href="/recipelist/ต้ม" id="recipelink">            
            <img class="center"src="/img/cooking/instant-noodles.png" >
            <br>
            <h4>ต้ม</h4>
            </a>            
        </div>
    </div>
    <div class="slick-block" >
        <div class=" text-center" id="cookingicon">
            <a href="/recipelist/ยำ" id="recipelink">            
            <img class="center"src="/img/cooking/cereal.png" >
            <br>
            <h4>ยำ</h4>   
            </a>         
        </div>
    </div>
    <div class="slick-block" >
        <div class=" text-center" id="cookingicon">
            <a href="/recipelist/สลัด" id="recipelink">            
            <img class="center"src="/img/cooking/salad.png" >
            <br>
            <h4>สลัด</h4>
            </a>            
        </div>
    </div>    
    <div class="slick-block" >
        <div class=" text-center" id="cookingicon">
            <a href="/recipelist/ขนมหวาน" id="recipelink">
            <img class="center"src="/img/cooking/muffin.png" >
            <br>
            <h4>ของหวาน</h4>    
            </a>        
        </div>
    </div>
    <div class="slick-block" >
        <div class=" text-center" id="cookingicon">
            <a href="/recipelist/อื่น " id="recipelink">
            <img class="center"src="/img/cooking/beef-steak.png" >
            <br>
            <h4>อื่นๆ</h4>
            </a>            
        </div>
    </div>                                    
  </div>