  <div class="slick">
    <div class="slick-block" >
        <div class=" text-center" id="recipe">
            <i class="fas fa-hamburger slick-icon"></i>
            <br>
            <h4>ทอด</h4>            
        </div>
    </div>
    <div class="slick-block" >
        <div class=" text-center" id="recipe">
            <i class="fas fa-hamburger slick-icon"></i>
            <br>
            <h4>ผัด</h4>            
        </div>
    </div>
    <div class="slick-block" >
        <div class=" text-center" id="recipe">
            <i class="fas fa-hamburger slick-icon"></i>
            <br>
            <h4>ต้ม</h4>            
        </div>
    </div>
    <div class="slick-block" >
        <div class=" text-center" id="recipe">
            <i class="fas fa-hamburger slick-icon"></i>
            <br>
            <h4>ยำ</h4>            
        </div>
    </div>
    <div class="slick-block" >
        <div class=" text-center" id="recipe">
            <i class="fas fa-hamburger slick-icon"></i>
            <br>
            <h4>สลัด</h4>            
        </div>
    </div>    
    <div class="slick-block" >
        <div class=" text-center" id="recipe">
            <i class="fas fa-hamburger slick-icon"></i>
            <br>
            <h4>ของหวาน</h4>            
        </div>
    </div>
    <div class="slick-block" >
        <div class=" text-center" id="recipe">
            <i class="fas fa-hamburger slick-icon"></i>
            <br>
            <h4>อื่นๆ</h4>            
        </div>
    </div>                                    
  </div>