  <!-- <%- include partials/head.ejs %> -->
  <title>Home</title>
</head>
<body>
    <section class="banner" id="home">
			<%- include partials/nav.ejs %>
      <div class="container text-white">
				<div class="row" style="height: 80vh">
					<div class="col-xl-6 col-md-8 my-auto fade-in-bottom">
						<h1>Welcome to <span class="logo-text">LongCook</span></h1>
						<h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime est ipsam excepturi debitis voluptatum. Illo minus dolore consequatur fugit quae ab illum quidem dolorem? Est fuga aliquid ullam numquam veritatis?</h5>
						<a><button type="button" class="btn-banner"><h6>DO SOMETHING</h6></button></a>
					</div>
				</div>
      </div>				
	</section>
	<article class="fade-in-bottom">
		<div class="container content">
			<h1 class="text-center">TOP THREE DISHES</h1>
			<hr>
			<div class="row">
				
				<div class="col-xl-4 col-md-6 col-12">
					<div class="container" id="recipe">
						<div class="container-fluid">
							<img class="profile-img"src="https://images.unsplash.com/photo-1536164261511-3a17e671d380?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=630&q=80" height="100%" width="100%">
							<h5>Naniga</h5>
						</div>
						<img src="https://images.unsplash.com/photo-1455619452474-d2be8b1e70cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="img-fluid">				
						<div class="container-fluid">
							<h4>Some Dish</h4>
							<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa, vero voluptatibus</p>
							<div class="d-flex flex-row-reverse">
									<i class="fas fa-heart"></i>
	
									<i class="far fa-comment"></i>
							</div>
							<hr>
						</div>						
					</div>
				</div>

				<div class="col-xl-4 col-md-6 col-12">
					<div class="container" id="recipe">
						<div class="container-fluid">
							<img class="profile-img"src="https://images.unsplash.com/photo-1536164261511-3a17e671d380?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=630&q=80" height="100%" width="100%">
							<h5>Naniga</h5>
						</div>
						<img src="https://images.unsplash.com/photo-1455619452474-d2be8b1e70cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="img-fluid">				
						<div class="container-fluid">
							<h4>Some Dish</h4>
							<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa, vero voluptatibus</p>
							<div class="d-flex flex-row-reverse">
									<i class="fas fa-heart"></i>
	
									<i class="far fa-comment"></i>
							</div>
							<hr>
						</div>						
					</div>
				</div>

				<div class="col-xl-4 col-md-6 col-12">
					<div class="container" id="recipe">
						<div class="container-fluid">
							<img class="profile-img"src="https://images.unsplash.com/photo-1536164261511-3a17e671d380?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=630&q=80" height="100%" width="100%">
							<h5>Naniga</h5>
						</div>
						<img src="https://images.unsplash.com/photo-1455619452474-d2be8b1e70cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="img-fluid">				
						<div class="container-fluid">
							<h4>Some Dish</h4>
							<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa, vero voluptatibus</p>
							<div class="d-flex flex-row-reverse">
									<i class="fas fa-heart"></i>
	
									<i class="far fa-comment"></i>
							</div>
							<hr>
						</div>						
					</div>
				</div>


			</div>
		</div>
	</article>
	<article class="fade-in-bottom">
		<div class="container content">
			<h1 class="text-center">FIND RECIPE</h1>
			<hr>
			<%- include partials/recipeslick.ejs %>
		</div>
	</article>

	<article class="fade-in-bottom" id="longcook">
		<div class="container content">
			<div class="row">
				<div class="col-xl-4 col-md-3"></div>
					<div class="col-xl-4 col-md-6 col-12 text-center text-white">
						<h1 class="logo-text">LongCook</h1>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem nihil nesciunt omnis voluptatibus nobis ex? Excepturi eaque perferendis vero exercitationem tenetur voluptatem, animi fuga dignissimos iusto ipsam! Porro, debitis harum.</p>
						<a><button type="button" class="btn-banner"><h6>DO SOMETHING</h6></button></a>
					</div>
				<div class="col-xl-4 col-md-3"></div>	
			</div>
		</div>
	</article>

	<%- include partials/foot.ejs %>