    <%- include partials/Head.ejs %>
    <title>RecipeList</title>
</head>
<body>
    <section class="recipelist">
        <%- include partials/nav.ejs %>
        <div class="container text-white">
            <div class="row" style="height: 20vh">
                <div class="col-12 text-center my-auto fade-in-bottom">
                    <h1 class="topic">RECIPES</h1>                 
                </div>
            </div>
        </div>        
    </section>
</body>
</html>