<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Grand+Hotel" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Prompt" rel="stylesheet">
    <link href="CSS/formcss.css" rel="stylesheet" >
    <title>LongCooklogin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body class="login">
    <div class="row form">
        <div class="col-md-2 col-xl-4"></div>
        <div class="col-12 col-md-8 col-xl-4">
            <div class="text-center">
                <a href="home.html"><h1 id="logo" class="text-white ">LongCook</h1></a>
                <input class="form-style1 text-white" type="email"  placeholder="Username">
                <input class="form-style1 text-white" type="password"  placeholder="Password">
                <button class="btn bg-white formbutton">Login</button>
                <a href="" class="text-white">Forgot your password?</a>
                Don't have an account? <a href="Signup.html" class="text-white">Sign up</a>
                
               
            </div>
        </div>
        <div class="col-md-2 col-xl-4"></div>
    </div>


</body>
</html>