    <%- include partials/Headform.ejs %>
    <title>LongCooklogin</title>
</head>
<body class="login bg-pan-right">
    <div class="container-fluid">
        <div class="row form">
            <div class="col-lg-2 col-xl-4"></div>
            <div class="col-md-12 col-lg-8 col-xl-4">
                <div class="text-center">
                    <form action="/login" method="POST">
                        <a href="/" id="logo2"><h1 id="logo" class="text-white ">LongCook</h1></a>
                        <input class="form-style1 text-white" type="text"  placeholder="Username" name="username" required autocomplete="off">
                        <input class="form-style1 text-white" type="password"  placeholder="Password" name="password" required>              
                        <button class="btn bg-white formbutton">Login</button>
                    </form>        
                        <a href="" class="text-white">Forgot your password?</a><br>
                        Don't have an account? <a href="/Signup" class="text-white">Sign up</a>
                </div>
            </div>
            <div class="col-lg-2 col-xl-4"></div>
        </div>        
    </div>

</body>
</html>