    <%- include partials/Headform.ejs %>
    <title>LongCookSignup</title>
</head>
<body class="login">
    <div class="container-fluid">
        <div class="row form">
            <div class="col-lg-2 col-xl-4"></div>
            <div class="col-md-12 col-md-8 col-xl-4">
                <div class="text-center">
                    <form action="/register" method="POST">
                        <h1  class="text-white">Sign up</h1>
                        <input class="form-style1 text-white" type="text"  placeholder="Profile-img-URL" autocomplete="off" name="profileimg" required>
                        <input class="form-style1 text-white" type="text"  placeholder="Username" autocomplete="off" name="username" required>
                        <input class="form-style1 text-white" type="password"  placeholder="Password" name="password" required>
                        <input class="form-style1 text-white" type="password"  placeholder="Re-password" name="repass" required>
                        <input class="form-style1 text-white" type="text"  placeholder="Name" name="name" required>
                        <select class="custom-select" id="inputGroupSelect01" name="gender" required>
                                <option disabled selected value> -- select an option -- </option>
                            <option value="Female">Female</option>
                            <option value="Male">Male</option>
                        </select> 
                        <button class="btn bg-white formbutton">Sign up</button>
                    </form>
                        <div class="mgtop">Already have an account? <a href="/Login" class="text-white">Login</a></div>
                    </form> 
                </div>
            </div>
            <div class="col-lg-2 col-xl-4"></div>
        </div>        
    </div>
</body>
</html>