<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Grand+Hotel" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Prompt" rel="stylesheet">
    <link href="CSS/formcss.css" rel="stylesheet">  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>LongCookSignup</title>
</head>
<body class="login">
    <div class="row form">
        <div class="col-md-2 col-xl-4"></div>
        <div class="col-12 col-md-8 col-xl-4">
            <div class="text-center">
                <h1  class="text-white">Sign up</h1>
                <input class="form-style1 text-white" type="email"  placeholder="E-mail">
                <input class="form-style1 text-white" type="password"  placeholder="Password">
                <input class="form-style1 text-white" type="password"  placeholder="Re-password">
                <button class="btn bg-white formbutton">Sign up</button>
                <div class="mgtop">Already have an account? <a href="/Login" class="text-white">Login</a></div> 
            </div>
        </div>
        <div class="col-md-2 col-xl-4"></div>
    </div>


</body>
</html>